Utilitarios/Web References/servicioGeneralesTipoTele/WCFGeneralesTipoTele0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioGeneralUtil/WCFGeneralesTipoTele.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" />
  <xs:element name="listarTipoTele">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" minOccurs="0" name="oEnTipoTele" nillable="true" type="q1:enTipoTele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoTeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" minOccurs="0" name="listarTipoTeleResult" nillable="true" type="q2:ArrayOfenTipoTele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>