Utilitarios/Web References/servicioGeneralesTipoTele/WCFGeneralesTipoTele2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioGeneralUtil/WCFGeneralesTipoTele.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.CoGeneralesUtil" />
  <xs:complexType name="enTipoTele">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.CoGeneralesUtil" base="q1:coHBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ABR_TELE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DES_TELE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FEC_CREA" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FLG_EST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLG_TELE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_TELE" type="xs:int" />
          <xs:element minOccurs="0" name="OPR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USU_CREA" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="enTipoTele" nillable="true" type="tns:enTipoTele" />
  <xs:complexType name="ArrayOfenTipoTele">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enTipoTele" nillable="true" type="tns:enTipoTele" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenTipoTele" nillable="true" type="tns:ArrayOfenTipoTele" />
</xs:schema>