Utilitarios/Web References/servicioGestorFileServer/WCFgestorFileServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.ServicioW" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.ServicioW" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="setDatosWSGFileServer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:getResultWSGFileServer">
        <xs:sequence>
          <xs:element minOccurs="0" name="bOrigenArchivo" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="iFlagGrabaArchivoBD" type="xs:boolean" />
          <xs:element minOccurs="0" name="iIdDoc" type="xs:int" />
          <xs:element minOccurs="0" name="iIdSis" type="xs:int" />
          <xs:element minOccurs="0" name="iTipoArchivo" type="xs:int" />
          <xs:element minOccurs="0" name="lIdSis" type="xs:long" />
          <xs:element minOccurs="0" name="lIdUsuario" type="xs:long" />
          <xs:element minOccurs="0" name="lSizeArchivo" type="xs:long" />
          <xs:element minOccurs="0" name="sCodCms" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sIpMaquina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreArchivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreArchivoAbr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sPassRed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sRutaArchivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sTipoAccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sUbiDestinoArchivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sUbiOrigenArchivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sUserRed" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="setDatosWSGFileServer" nillable="true" type="tns:setDatosWSGFileServer" />
  <xs:complexType name="getResultWSGFileServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="bSussess" type="xs:boolean" />
      <xs:element minOccurs="0" name="iError" type="xs:int" />
      <xs:element minOccurs="0" name="lIdDocCms" type="xs:long" />
      <xs:element minOccurs="0" name="sMensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getResultWSGFileServer" nillable="true" type="tns:getResultWSGFileServer" />
</xs:schema>