Utilitarios/Web References/servicioGestorFileServer/WCFgestorFileServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFgestorFileServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioFileServer/WCFgestorFileServer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioFileServer/WCFgestorFileServer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioFileServer/WCFgestorFileServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.ServicioW" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFgestorFileServer_ProcesoGestorFileServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoGestorFileServer" />
  </wsdl:message>
  <wsdl:message name="IWCFgestorFileServer_ProcesoGestorFileServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoGestorFileServerResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFgestorFileServer_ProcesoGetByte_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoGetByte" />
  </wsdl:message>
  <wsdl:message name="IWCFgestorFileServer_ProcesoGetByte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoGetByteResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFgestorFileServer">
    <wsdl:operation name="ProcesoGestorFileServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFgestorFileServer/ProcesoGestorFileServer" message="tns:IWCFgestorFileServer_ProcesoGestorFileServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFgestorFileServer/ProcesoGestorFileServerResponse" message="tns:IWCFgestorFileServer_ProcesoGestorFileServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesoGetByte">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFgestorFileServer/ProcesoGetByte" message="tns:IWCFgestorFileServer_ProcesoGetByte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFgestorFileServer/ProcesoGetByteResponse" message="tns:IWCFgestorFileServer_ProcesoGetByte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFgestorFileServer" type="tns:IWCFgestorFileServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesoGestorFileServer">
      <soap:operation soapAction="http://tempuri.org/IWCFgestorFileServer/ProcesoGestorFileServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesoGetByte">
      <soap:operation soapAction="http://tempuri.org/IWCFgestorFileServer/ProcesoGetByte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFgestorFileServer">
    <wsdl:port name="BasicHttpBinding_IWCFgestorFileServer" binding="tns:BasicHttpBinding_IWCFgestorFileServer">
      <soap:address location="http://svc.mincetur.gob.pe:8010/servicioFileServer/WCFgestorFileServer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>