Utilitarios/Web References/servicioGestorFileServer/WCFgestorFileServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioFileServer/WCFgestorFileServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.ServicioW" />
  <xs:element name="ProcesoGestorFileServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.ServicioW" minOccurs="0" name="datos" nillable="true" type="q1:setDatosWSGFileServer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoGestorFileServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.ServicioW" minOccurs="0" name="ProcesoGestorFileServerResult" nillable="true" type="q2:getResultWSGFileServer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoGetByte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.ServicioW" minOccurs="0" name="datos" nillable="true" type="q3:setDatosWSGFileServer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoGetByteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.ServicioW" minOccurs="0" name="ProcesoGetByteResult" nillable="true" type="q4:setDatosWSGFileServer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>