Utilitarios/Web References/soap.servicioGestorSeguridadLogError/WCFSeguridadLog0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioSeguridad/WCFSeguridadLog.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.EnSeguridad" />
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioSeguridad/WCFSeguridadLog.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.CoSeguridad" />
  <xs:element name="log">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.EnSeguridad" minOccurs="0" name="oEnLogError" nillable="true" type="q1:enLogError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.CoSeguridad" minOccurs="0" name="logResult" nillable="true" type="q2:coResultadoDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>