Utilitarios/Web References/servicioGeneralesVia/WCFGeneralesVia0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="enVia">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABR_VIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_VIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLG_EST" type="xs:int" />
      <xs:element minOccurs="0" name="ID_VIA" type="xs:int" />
      <xs:element minOccurs="0" name="OPR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enVia" nillable="true" type="tns:enVia" />
  <xs:complexType name="ArrayOfenVia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enVia" nillable="true" type="tns:enVia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenVia" nillable="true" type="tns:ArrayOfenVia" />
</xs:schema>