Utilitarios/Web References/servicioGeneralesVia/WCFGeneralesVia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioGeneralUtil/WCFGeneralesVia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" />
  <xs:element name="listarVia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" minOccurs="0" name="oEnVia" nillable="true" type="q1:enVia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarViaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" minOccurs="0" name="listarViaResult" nillable="true" type="q2:ArrayOfenVia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>