Utilitarios/Web References/soap.ServicioUsuSisRolEntEstorg/WCFSeguridadUsuSisRolEntEstorg0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioSeguridad/services/WCFSeguridadUsuSisRolEntEstorg.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.ServicioWeb.Models" />
  <xs:element name="listarUsuSisRolEntEstorg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.ServicioWeb.Models" minOccurs="0" name="datos" nillable="true" type="q1:DatosUsuSisRolEstorg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarUsuSisRolEntEstorgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.ServicioWeb.Models" minOccurs="0" name="listarUsuSisRolEntEstorgResult" nillable="true" type="q2:ResultadoUsuSisRolEstorg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>