Utilitarios/Web References/soap.ServicioGeneralUtil.Correo/WCFGeneralesCorreo0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.CoGeneralesUtil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.CoGeneralesUtil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="coHBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="coHBase" nillable="true" type="tns:coHBase" />
  <xs:complexType name="coResultadoDB">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:coHBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DES_ERROR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_ERROR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_TIPO" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR1" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR10" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR2" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR3" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR4" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR5" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR6" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR7" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR8" type="xs:int" />
          <xs:element minOccurs="0" name="VALOR9" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="coResultadoDB" nillable="true" type="tns:coResultadoDB" />
</xs:schema>