Utilitarios/Web References/soap.ServicioGeneralUtil.Correo/WCFGeneralesCorreo5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioGeneralUtil/WCFGeneralesCorreo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" />
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioGeneralUtil/WCFGeneralesCorreo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.CoGeneralesUtil" />
  <xs:element name="enviarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" minOccurs="0" name="oEnEmail" nillable="true" type="q1:enEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.CoGeneralesUtil" minOccurs="0" name="enviarCorreoResult" nillable="true" type="q2:coResultadoDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>