Utilitarios/Web References/servicioSeguridad.WCFSeguridadEncripDesencrip/WCFSeguridadEncripDesencrip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFSeguridadEncripDesencrip" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioSeguridad/WCFSeguridadEncripDesencrip.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioSeguridad/WCFSeguridadEncripDesencrip.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFSeguridadEncripDesencrip_encriptarAES_InputMessage">
    <wsdl:part name="parameters" element="tns:encriptarAES" />
  </wsdl:message>
  <wsdl:message name="IWCFSeguridadEncripDesencrip_encriptarAES_OutputMessage">
    <wsdl:part name="parameters" element="tns:encriptarAESResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFSeguridadEncripDesencrip_desencriptarAES_InputMessage">
    <wsdl:part name="parameters" element="tns:desencriptarAES" />
  </wsdl:message>
  <wsdl:message name="IWCFSeguridadEncripDesencrip_desencriptarAES_OutputMessage">
    <wsdl:part name="parameters" element="tns:desencriptarAESResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFSeguridadEncripDesencrip_traeLlave_InputMessage">
    <wsdl:part name="parameters" element="tns:traeLlave" />
  </wsdl:message>
  <wsdl:message name="IWCFSeguridadEncripDesencrip_traeLlave_OutputMessage">
    <wsdl:part name="parameters" element="tns:traeLlaveResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFSeguridadEncripDesencrip">
    <wsdl:operation name="encriptarAES">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFSeguridadEncripDesencrip/encriptarAES" message="tns:IWCFSeguridadEncripDesencrip_encriptarAES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFSeguridadEncripDesencrip/encriptarAESResponse" message="tns:IWCFSeguridadEncripDesencrip_encriptarAES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="desencriptarAES">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFSeguridadEncripDesencrip/desencriptarAES" message="tns:IWCFSeguridadEncripDesencrip_desencriptarAES_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFSeguridadEncripDesencrip/desencriptarAESResponse" message="tns:IWCFSeguridadEncripDesencrip_desencriptarAES_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="traeLlave">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFSeguridadEncripDesencrip/traeLlave" message="tns:IWCFSeguridadEncripDesencrip_traeLlave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFSeguridadEncripDesencrip/traeLlaveResponse" message="tns:IWCFSeguridadEncripDesencrip_traeLlave_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFSeguridadEncripDesencrip" type="tns:IWCFSeguridadEncripDesencrip">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="encriptarAES">
      <soap:operation soapAction="http://tempuri.org/IWCFSeguridadEncripDesencrip/encriptarAES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="desencriptarAES">
      <soap:operation soapAction="http://tempuri.org/IWCFSeguridadEncripDesencrip/desencriptarAES" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traeLlave">
      <soap:operation soapAction="http://tempuri.org/IWCFSeguridadEncripDesencrip/traeLlave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFSeguridadEncripDesencrip">
    <wsdl:port name="BasicHttpBinding_IWCFSeguridadEncripDesencrip" binding="tns:BasicHttpBinding_IWCFSeguridadEncripDesencrip">
      <soap:address location="http://svc.mincetur.gob.pe:8010/servicioSeguridad/WCFSeguridadEncripDesencrip.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>