Utilitarios/Web References/servicioSeguridad.WCFSeguridadEncripDesencrip/WCFSeguridadEncripDesencrip.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="encriptarAES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plainText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="encriptarAESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encriptarAESResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="desencriptarAES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encryptText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="desencriptarAESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desencriptarAESResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="traeLlave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="traeLlaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traeLlaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>