Utilitarios/Web References/soap.ServicioSeguridad.SeguridadSistema/WCFSeguridadSistema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioSeguridad/WCFSeguridadSistema.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.EnSeguridad" />
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioSeguridad/WCFSeguridadSistema.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.CoSeguridad" />
  <xs:element name="listarAccesosPorDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.EnSeguridad" minOccurs="0" name="objEnAcceso" nillable="true" type="q1:enAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarAccesosPorDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.EnSeguridad" minOccurs="0" name="listarAccesosPorDiaResult" nillable="true" type="q2:ArrayOfenAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarAcceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.EnSeguridad" minOccurs="0" name="objEnAcceso" nillable="true" type="q3:enAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarAccesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.CoSeguridad" minOccurs="0" name="enviarAccesoResult" nillable="true" type="q4:coResultadoDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarAccesoUlt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.EnSeguridad" minOccurs="0" name="objEnAcceso" nillable="true" type="q5:enAcceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarAccesoUltResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.Seguridad.CoSeguridad" minOccurs="0" name="enviarAccesoUltResult" nillable="true" type="q6:coResultadoDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>