Utilitarios/Web References/servicioGeneralesZona/WCFGeneralesZona.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="enZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABR_ZONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_ZONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLG_EST" type="xs:int" />
      <xs:element minOccurs="0" name="ID_ZONA" type="xs:int" />
      <xs:element minOccurs="0" name="OPR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enZona" nillable="true" type="tns:enZona" />
  <xs:complexType name="ArrayOfenZona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enZona" nillable="true" type="tns:enZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenZona" nillable="true" type="tns:ArrayOfenZona" />
</xs:schema>