Utilitarios/Web References/servicioPide/WCFIntegracionPide.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioIntegracion/DirectorioPersonaPide/soap/WCFIntegracionPide.svc?xsd=xsd2" namespace="Mincetur.Administracion.Integracion.ServicioIntegracion" />
  <xs:element name="verificaPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Mincetur.Administracion.Integracion.ServicioIntegracion" minOccurs="0" name="oEnPersona" nillable="true" type="q1:IntegracionVerificaPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verificaPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="Mincetur.Administracion.Integracion.ServicioIntegracion" minOccurs="0" name="verificaPersonaResult" nillable="true" type="q2:ResultadoPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>