Utilitarios/Web References/soap.ServicioGeneralUtil.Estorg/WCFGeneralesEstorg0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioGeneralUtil/WCFGeneralesEstorg.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" />
  <xs:element name="listarEstorg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" minOccurs="0" name="oEnEstorg" nillable="true" type="q1:enEstorg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEstorgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" minOccurs="0" name="listarEstorgResult" nillable="true" type="q2:ArrayOfenEstorg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>