Utilitarios/Web References/soap.ServicioGeneralUtil.Estorg/WCFGeneralesEstorg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="enEstorg">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABR_SUBOFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_SUBOFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_CREA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FEC_FIN" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FEC_INI" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FEC_MODI" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FLG_EST" type="xs:int" />
      <xs:element minOccurs="0" name="ID_OFICONC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_SUB" type="xs:int" />
      <xs:element minOccurs="0" name="ID_SUBOFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_NIVEL" type="xs:int" />
      <xs:element minOccurs="0" name="OPR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USU_CREA" type="xs:int" />
      <xs:element minOccurs="0" name="USU_MODI" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enEstorg" nillable="true" type="tns:enEstorg" />
  <xs:complexType name="ArrayOfenEstorg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enEstorg" nillable="true" type="tns:enEstorg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenEstorg" nillable="true" type="tns:ArrayOfenEstorg" />
</xs:schema>