Utilitarios/Web References/servicioSunatContribuyente/wsContribuyente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listarContribuyentes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEnContribuyente" type="tns:enContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="enContribuyente">
        <s:complexContent mixed="false">
          <s:extension base="tns:coHBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DDP_NOMBRE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_NUMRUC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_NUMREG" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_DEPENDENCIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_TPOEMP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_TPOEMPRESA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_TAMANO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_TAMANO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_IDENTI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_TPOPERSONA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_CIIU" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_CIIU" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_CIIU_SEC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_CIIU_TER" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_UBIGEO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_UBIGEO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_NOMVIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_NUMER1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_INTER1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_NOMZON" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_REFER1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_FLAG22" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_DOMICILIOFISCAL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_ESTADO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_ESTADO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="COD_ESTADO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_FECALT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_FECBAJ" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_TIPVIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_TPOVIA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDP_TIPZON" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_TPOZONA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_DIRECCION" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FEC_CREA1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FEC_MODI1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RSO_NRODOC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RSO_CARGO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RSO_DOCIDE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_DOCIDE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SPR_CORREL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SPR_TIPEST" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_TIPEST" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDS_INICIO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDS_NRODOC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DES_TIPDOC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDS_INI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DDS_FIN" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="coHBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FLG_EST" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DES_EST" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FLG_STR_EST" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FEC_INI" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FEC_FIN" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FEC_MODI" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="USU_CREA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DES_USU_CREA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="USU_MODI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DES_USU_MODI" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_USU" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_SIS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DES_SIS_CREA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DES_SIS_MODI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CANTIDAD" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OPR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CORR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DATO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarContribuyentesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarContribuyentesResult" type="tns:ArrayOfEnContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEnContribuyente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="enContribuyente" nillable="true" type="tns:enContribuyente" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarContribuyentes3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEnContribuyente" type="tns:enContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarContribuyentes3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarContribuyentes3Result" type="tns:ArrayOfEnContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarContribuyentes2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DDP_NUMRUC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FLG_EST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OPR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarContribuyentes2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarContribuyentes2Result" type="tns:ArrayOfEnContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarRepresentante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEnContribuyente" type="tns:enContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarRepresentanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarRepresentanteResult" type="tns:ArrayOfEnContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarEstablecimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEnContribuyente" type="tns:enContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarEstablecimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarEstablecimientoResult" type="tns:ArrayOfEnContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarEstadoContribuyente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEnContribuyente" type="tns:enContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarEstadoContribuyenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarEstadoContribuyenteResult" type="tns:ArrayOfEnContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="estadoValidaSunat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEnContribuyente" type="tns:enContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="estadoValidaSunatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="estadoValidaSunatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarNumDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objEnContribuyente" type="tns:enContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarNumDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validarNumDocumentoResult" type="tns:ArrayOfEnContribuyente" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listarContribuyentesSoapIn">
    <wsdl:part name="parameters" element="tns:listarContribuyentes" />
  </wsdl:message>
  <wsdl:message name="listarContribuyentesSoapOut">
    <wsdl:part name="parameters" element="tns:listarContribuyentesResponse" />
  </wsdl:message>
  <wsdl:message name="listarContribuyentes3SoapIn">
    <wsdl:part name="parameters" element="tns:listarContribuyentes3" />
  </wsdl:message>
  <wsdl:message name="listarContribuyentes3SoapOut">
    <wsdl:part name="parameters" element="tns:listarContribuyentes3Response" />
  </wsdl:message>
  <wsdl:message name="listarContribuyentes2SoapIn">
    <wsdl:part name="parameters" element="tns:listarContribuyentes2" />
  </wsdl:message>
  <wsdl:message name="listarContribuyentes2SoapOut">
    <wsdl:part name="parameters" element="tns:listarContribuyentes2Response" />
  </wsdl:message>
  <wsdl:message name="listarRepresentanteSoapIn">
    <wsdl:part name="parameters" element="tns:listarRepresentante" />
  </wsdl:message>
  <wsdl:message name="listarRepresentanteSoapOut">
    <wsdl:part name="parameters" element="tns:listarRepresentanteResponse" />
  </wsdl:message>
  <wsdl:message name="listarEstablecimientoSoapIn">
    <wsdl:part name="parameters" element="tns:listarEstablecimiento" />
  </wsdl:message>
  <wsdl:message name="listarEstablecimientoSoapOut">
    <wsdl:part name="parameters" element="tns:listarEstablecimientoResponse" />
  </wsdl:message>
  <wsdl:message name="listarEstadoContribuyenteSoapIn">
    <wsdl:part name="parameters" element="tns:listarEstadoContribuyente" />
  </wsdl:message>
  <wsdl:message name="listarEstadoContribuyenteSoapOut">
    <wsdl:part name="parameters" element="tns:listarEstadoContribuyenteResponse" />
  </wsdl:message>
  <wsdl:message name="estadoValidaSunatSoapIn">
    <wsdl:part name="parameters" element="tns:estadoValidaSunat" />
  </wsdl:message>
  <wsdl:message name="estadoValidaSunatSoapOut">
    <wsdl:part name="parameters" element="tns:estadoValidaSunatResponse" />
  </wsdl:message>
  <wsdl:message name="validarNumDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:validarNumDocumento" />
  </wsdl:message>
  <wsdl:message name="validarNumDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:validarNumDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsContribuyenteSoap">
    <wsdl:operation name="listarContribuyentes">
      <wsdl:input message="tns:listarContribuyentesSoapIn" />
      <wsdl:output message="tns:listarContribuyentesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarContribuyentes3">
      <wsdl:input message="tns:listarContribuyentes3SoapIn" />
      <wsdl:output message="tns:listarContribuyentes3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarContribuyentes2">
      <wsdl:input message="tns:listarContribuyentes2SoapIn" />
      <wsdl:output message="tns:listarContribuyentes2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarRepresentante">
      <wsdl:input message="tns:listarRepresentanteSoapIn" />
      <wsdl:output message="tns:listarRepresentanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarEstablecimiento">
      <wsdl:input message="tns:listarEstablecimientoSoapIn" />
      <wsdl:output message="tns:listarEstablecimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarEstadoContribuyente">
      <wsdl:input message="tns:listarEstadoContribuyenteSoapIn" />
      <wsdl:output message="tns:listarEstadoContribuyenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="estadoValidaSunat">
      <wsdl:input message="tns:estadoValidaSunatSoapIn" />
      <wsdl:output message="tns:estadoValidaSunatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validarNumDocumento">
      <wsdl:input message="tns:validarNumDocumentoSoapIn" />
      <wsdl:output message="tns:validarNumDocumentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsContribuyenteSoap" type="tns:wsContribuyenteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarContribuyentes">
      <soap:operation soapAction="http://tempuri.org/listarContribuyentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarContribuyentes3">
      <soap:operation soapAction="http://tempuri.org/listarContribuyentes3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarContribuyentes2">
      <soap:operation soapAction="http://tempuri.org/listarContribuyentes2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarRepresentante">
      <soap:operation soapAction="http://tempuri.org/listarRepresentante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEstablecimiento">
      <soap:operation soapAction="http://tempuri.org/listarEstablecimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEstadoContribuyente">
      <soap:operation soapAction="http://tempuri.org/listarEstadoContribuyente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoValidaSunat">
      <soap:operation soapAction="http://tempuri.org/estadoValidaSunat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarNumDocumento">
      <soap:operation soapAction="http://tempuri.org/validarNumDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsContribuyenteSoap12" type="tns:wsContribuyenteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarContribuyentes">
      <soap12:operation soapAction="http://tempuri.org/listarContribuyentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarContribuyentes3">
      <soap12:operation soapAction="http://tempuri.org/listarContribuyentes3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarContribuyentes2">
      <soap12:operation soapAction="http://tempuri.org/listarContribuyentes2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarRepresentante">
      <soap12:operation soapAction="http://tempuri.org/listarRepresentante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEstablecimiento">
      <soap12:operation soapAction="http://tempuri.org/listarEstablecimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEstadoContribuyente">
      <soap12:operation soapAction="http://tempuri.org/listarEstadoContribuyente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoValidaSunat">
      <soap12:operation soapAction="http://tempuri.org/estadoValidaSunat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarNumDocumento">
      <soap12:operation soapAction="http://tempuri.org/validarNumDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsContribuyente">
    <wsdl:port name="wsContribuyenteSoap" binding="tns:wsContribuyenteSoap">
      <soap:address location="http://svc.mincetur.gob.pe:8010/wsSunat/sistema/ws/wsContribuyente.asmx" />
    </wsdl:port>
    <wsdl:port name="wsContribuyenteSoap12" binding="tns:wsContribuyenteSoap12">
      <soap12:address location="http://svc.mincetur.gob.pe:8010/wsSunat/sistema/ws/wsContribuyente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>