Utilitarios/Web References/servicioGeneralesDocumento/WCFGeneralesDocIdentidad0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="enDocIdentidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABR_DOCU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DOCU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_CREA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FEC_MODI" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FLG_EST" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DOCU" type="xs:int" />
      <xs:element minOccurs="0" name="OPR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USU_CREA" type="xs:int" />
      <xs:element minOccurs="0" name="USU_MODI" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enDocIdentidad" nillable="true" type="tns:enDocIdentidad" />
  <xs:complexType name="ArrayOfenDocIdentidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enDocIdentidad" nillable="true" type="tns:enDocIdentidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenDocIdentidad" nillable="true" type="tns:ArrayOfenDocIdentidad" />
</xs:schema>