Utilitarios/Web References/soap.ServicioArchivoLaserfiche/WCFEIArchivoLF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.SoapLaserFiche" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.SG.OI.SoapLaserFiche" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosDescargarArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdArchivo" type="xs:int" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCarpeta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosDescargarArchivo" nillable="true" type="tns:DatosDescargarArchivo" />
  <xs:complexType name="ResultExportarArch">
    <xs:sequence>
      <xs:element minOccurs="0" name="MesageExportar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="boolExportar" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultExportarArch" nillable="true" type="tns:ResultExportarArch" />
  <xs:complexType name="DatosExportarArchByte">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdArchivo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosExportarArchByte" nillable="true" type="tns:DatosExportarArchByte" />
  <xs:complexType name="ResultExportarArchByte">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtensionArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MesageExportar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCarpeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumImagenes" type="xs:int" />
      <xs:element minOccurs="0" name="TipoContenidoMIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="boolExportar" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultExportarArchByte" nillable="true" type="tns:ResultExportarArchByte" />
  <xs:complexType name="DatosSubirArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ByteArchivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DirLocalDescargaArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtensionArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCarpetaLF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComoSeGuardaArchivoLF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSubCarpetaLF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreVolumenLF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContenidoMIME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosSubirArchivo" nillable="true" type="tns:DatosSubirArchivo" />
  <xs:complexType name="ResultImportarArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEntradaLF" type="xs:int" />
      <xs:element minOccurs="0" name="MesageImportar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultExportarArchByte" nillable="true" type="tns:ResultExportarArchByte" />
      <xs:element minOccurs="0" name="boolImportar" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultImportarArchivo" nillable="true" type="tns:ResultImportarArchivo" />
  <xs:complexType name="ArrayOfDatosSubirArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatosSubirArchivo" nillable="true" type="tns:DatosSubirArchivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatosSubirArchivo" nillable="true" type="tns:ArrayOfDatosSubirArchivo" />
  <xs:complexType name="ArrayOfResultImportarArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultImportarArchivo" nillable="true" type="tns:ResultImportarArchivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultImportarArchivo" nillable="true" type="tns:ArrayOfResultImportarArchivo" />
</xs:schema>