Utilitarios/Web References/servicioGeneralesTipoDocu/WCFGeneralesTipoDocu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.EnGeneralesUtil" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.mincetur.gob.pe:8010/servicioGeneralUtil/WCFGeneralesTipoDocu.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.CoGeneralesUtil" />
  <xs:complexType name="enTipoDocu">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mincetur.Administracion.GeneralesUtil.CoGeneralesUtil" base="q1:coHBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ABR_EXTENSION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DES_EXTENSION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DES_RUTA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FEC_CREA" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FLG_EST" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_TIPO" type="xs:int" />
          <xs:element minOccurs="0" name="OPR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USU_CREA" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="enTipoDocu" nillable="true" type="tns:enTipoDocu" />
  <xs:complexType name="ArrayOfenTipoDocu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enTipoDocu" nillable="true" type="tns:enTipoDocu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenTipoDocu" nillable="true" type="tns:ArrayOfenTipoDocu" />
</xs:schema>